<a href="https://colab.research.google.com/github/HUSSAIN7860/Python_EyTraining/blob/main/Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Library

In [34]:
# import library
import numpy as np
import pandas as pd
import datetime

### Creating DataFrame

In [35]:
Student = ['Sita','Kissu','Muzzi','Amna']
Score = [65,37,88,90]

In [36]:
exam_df= pd.DataFrame({
    
    'name': Student, # Passing argument as a dictionary here 
    'marks': Score
})
exam_df

    name  marks
0   Sita     65
1  Kissu     37
2  Muzzi     88
3   Amna     90

### Now we have to print the marks of Muzzi using Index

In [37]:
exam_df.loc[2]

name     Muzzi
marks       88
Name: 2, dtype: object

In [38]:
# Only marks 
exam_df.loc[2,'marks']

88

In [39]:
# Printing all marks 
exam_df.loc[:,'marks']  # always specify the row

0    65
1    37
2    88
3    90
Name: marks, dtype: int64

### Find the Name of the Student having 37 marks

In [40]:
exam_df.loc[1 ,:]

name     Kissu
marks       37
Name: 1, dtype: object

### Add Gender Colunm Here

In [41]:
Gender = ['female','male','male','female']

In [42]:
# adding gender Colunm 
exam_df['gender'] = Gender

exam_df

    name  marks  gender
0   Sita     65  female
1  Kissu     37    male
2  Muzzi     88    male
3   Amna     90  female

### Romove Colunm

In [32]:
exam_df.drop('marks', axis = 1) # this will not remove colunm permanently for removing permanently we set inplace =True
# exam_df.drop('marks',axis = 1 , inplace = True)

In [43]:
exam_df

    name  marks  gender
0   Sita     65  female
1  Kissu     37    male
2  Muzzi     88    male
3   Amna     90  female

### Colunm name and rows indexes

In [44]:
exam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   marks   4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [45]:
exam_df.describe()

           marks
count   4.000000
mean   70.000000
std    24.752104
min    37.000000
25%    58.000000
50%    76.500000
75%    88.500000
max    90.000000

In [46]:
#Remaning the first colunm to fullname 

exam_df.rename({'name':'fullname'},axis = 1)

  fullname  marks  gender
0     Sita     65  female
1    Kissu     37    male
2    Muzzi     88    male
3     Amna     90  female

### Dealing With the missing Values

In [47]:
# Creating a nan value Dataframe
sparse = pd.DataFrame(
    {
    'a': [1,2,3],
    'b': [np.nan,4,np.nan],
    'c': [5, np.nan,np.nan]}

)

In [48]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [49]:
# checking nan value in the sparse matrix
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [50]:
# fill nan value with 0
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [51]:
# dropping na colun having nan value in it 
sparse.dropna(axis = 1)

   a
0  1
1  2
2  3

### Group By

In [53]:
# group by gender
exam_df.groupby('gender').mean()

        marks
gender
female   77.5
male     62.5

In [54]:
mylist = [1,2,1,2]

In [56]:
exam_df.groupby(mylist).get_group(1)

    name  marks  gender
0   Sita     65  female
2  Muzzi     88    male

In [57]:
exam_df.groupby(mylist).get_group(2)

    name  marks  gender
1  Kissu     37    male
3   Amna     90  female

In [59]:
# group the student havaing more then or less than 70
above_70 = exam_df['marks']>70
above_70

0    False
1    False
2     True
3     True
Name: marks, dtype: bool

In [60]:
# the mean scores of the students who scored above or below 70
exam_df.groupby(above_70).mean()

       marks
marks
False   51.0
True    89.0

### Merging and Joining

In [65]:
contacts = pd.DataFrame(
    {
     'name' :['Muzzi','Amna'] ,
     'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88'] 
    }
)

In [66]:
contacts

    name                Tel
0  Muzzi  +91 999 999 99 99
1   Amna  +91 888 888 88 88

In [67]:
exam_df.merge(contacts ,left_on = 'name', right_on = 'name')# default inner join

    name  marks  gender                Tel
0  Muzzi     88    male  +91 999 999 99 99
1   Amna     90  female  +91 888 888 88 88

In [68]:
exam_df.merge(contacts ,left_on = 'name', right_on = 'name', how = 'outer')

    name  marks  gender                Tel
0   Sita     65  female                NaN
1  Kissu     37    male                NaN
2  Muzzi     88    male  +91 999 999 99 99
3   Amna     90  female  +91 888 888 88 88